<link rel="stylesheet" href="/css/myPost.css">

<span style="color: brown;">{{errorMessage}}</span>

<div class="container">
    {{!-- Published section --}}
    <div id="container-header">
        <div>
            <h1 id="article-count-header">Your stories ({{this.total_posts}})</h1>
        </div>

        <div id="write-btn">
            <a href="/writeArticle">Write a story</a>
        </div>

    </div>


    {{#if posts}}
    <div class="all_posts">
        {{#each posts}}
        <div id="article{{this.article_id}}" class="each_posts" article-id="{{this.article_id}}">
            <div class="each-posts-content">

                <h3 id="post_title">{{this.title}}</h3>
                <p id="post_publish_time">{{this.date_of_publish}}</p>
                <div id="post_content">
                    <span>{{{this.content_html}}}</span>
                </div>
                <div>
                </div>

            </div>
            <div class="each-posts-img">
                <img src="/images/article-images/thumbnails/{{this.image}}" alt="{{this.image}}" id="post_img"
                    width="200px">
            </div>
            <div class="link-container">
                <i class="fa-solid fa-angle-down drop-down-arrow"></i>
                <div id="links{{this.article_id}}" class="each-posts-links" style="display: none;">
                    <div>
                        <a href="/editArticle/{{this.article_id}}" id="myPostEditLink">Edit</a>
                    </div>
                    <div>
                        <a href="/article/{{this.article_id}}" id="myPostReadMoreLink">Read more</a>
                    </div>
                    <div>
                        <a type="button" class="delete-button" article-id="{{this.article_id}}">Delete article</a>
                    </div>

                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
    <p>You have no posts</p>
    {{/if}}
</div>
<script type="application/javascript" src="/script/myPost.js"></script>